/* src/App.css */
.App {
  text-align: center;
  margin: 20px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 400px;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
